<style>
    .container {
        margin-top: 10em;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-6 home-left">
            <h3>Bem vindo ao Nex Bank</h3>
        </div>

        <div class="col-6 home-left">
            <p>Crie já sua conta</p>

            <form>
                <div class="mb-3">
                    <label for="inputName" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="inputName">
                </div>
                <div class="mb-3">
                    <label for="document" class="form-label">Documento</label>
                    <input type="text" class="form-control" id="document">
                </div>
                <button type="submit" class="btn btn-primary">Criar</button>
            </form>
        </div>
    </div>
</div>