<div class="container" ng-controller="AccountController">
    <!-- <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">NexBank</a>
    </nav> -->

    <br>
    <h3>Bem vindo, {{account.name}}</h3>

    <br>

    <div class="card">
        <div class="card-header">
            <i class="fa fa-money-check-alt text-muted"></i> <span>Conta</span>
        </div>
        <div class="card-body">
            <h5 class="card-title">Saldo disponivel</h5>
            <p class="card-text"> {{account.balance | currency:'R$' + ' '}}</p>
            <a class="btn btn-primary" ng-click="enableExtract()">Ver extrato</a>
        </div>
    </div>

    <br>
    <div class="card" ng-show="showExtractCard">

        <div class="card-header">
            <i class="fa fa-receipt text-muted"></i> <span>Extrato</span>
        </div>
        <div class="card-body">
            <form>
                <div class="form-row">
                    <div class="col-md-4 mb-2">
                        <datepicker date-format="yyyy-MM-dd">
                            <input type="text" class="form-control" placeholder="Data inicial"
                                ng-model="filterDateFrom">
                        </datepicker>
                    </div>

                    <div class="col-md-4 mb-2">
                        <datepicker date-format="yyyy-MM-dd">
                            <input type="text" class="form-control" placeholder="Data final" ng-model="filterDateTo">
                        </datepicker>

                    </div>

                    <div class="form-group col-md-3 mb-2">
                        <select class="form-control" ng-model="transactionType">
                            <option value="99">Todas</option>
                            <option value="1">Credito</option>
                            <option value="0">Debito</option>
                        </select>
                    </div>

                    <div class="form-group col-md-1 mb-2">
                        <a ng-click="getTransactions()" class="btn"><i class="fa fa-search"></i></a>
                    </div>
                </div>

            </form>


            <div ng-if="showTransactions">
                <br>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Data</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in extract.transactions">
                            <th scope="row">{{item.createDate}}</th>
                            <th>{{item.value | currency:'R$' + ' '}}</th>
                            <th>{{item.description}}</th>
                        </tr>
                    </tbody>
                </table>

                <br>

                <div class="float-right">
                    <div>
                        <strong>Saldo Inicial</strong>
                        <span>{{extract.initialAccountBalance | currency:'R$' + ' '}}</span>
                    </div>
                    <div>
                        <strong>Saldo Final</strong>
                        <span>{{extract.finishAccountBalance | currency:'R$' + ' '}}</span>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>